<div class="container">
    <div class="row">
        <div class="col-md-6  mx-auto mt-5">
          <div class="card">
            <div class="card-body">
              <h1 class="text-center">
                <img src="assets/img/ui-design.png" width="50px" height="50px" alt="">
                 Design Thinking
              </h1>
              <form action="">
                <div class="form-group">
                  <label for="readOnlyInput" >Email:</label>
                  <input type="email" name="email" id="readOnlyInput" class="form-control" placeholder="Ingresar Email">
                </div>
                <div class="form-group">
                  <label for="password">Contraseña:</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Ingresar Contraseñas">
                </div>
                <input type="text"  value="Enviar" name="" id="" class="btn btn-info  btn-block btn-lg" >
              </form>
            </div>
          </div>
        </div>
    </div>
</div>

 