
<div class="limiter ">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form validate-form">
        <span class="login100-form-title p-b-13">
         <img src="./assets/images/archivo.png" width="400px">
        </span>
        <div class="wrap-input100 "  >
          <input   placeholder="Email" [(ngModel)]="register.email" class="input100 " type="text" name="email">				
        </div>

        <div class="wrap-input100 " >
          <input placeholder="Password" [(ngModel)]="register.password" class="input100" type="password" name="pass">	
        </div>

        <div class="container-login100-form-btn">
          <input type="submit" id="alerta" value="Enviar" (click)="registrar()" class="login100-form-btn btn btn-default btn-lg">
        </div>
        <div>
        </div>
        
      </div>
      <div class="login100-more" style="background-image: url('./assets/images/bg-03.jpg');">
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



