/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }


/* Navbar animation */
.navbar-all {
  background-color:teal;
 }

.top-nav-collapse {
  background-color:rgba(0, 0, 0, 0.2);; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 18px) {
  .navbar {
    background-color:teal; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }
