<div class="view"style="background-image: url('./assets/images/bg-02.jpg'); background-repeat: no-repeat; background-size: cover;">
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <div class="text-center white-text mx-5 wow fadeIn">
      <h1 class="mb-4">
        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> Software Contable de Facturación Electrónica  <br> Para Pequeñas y Medianas Empresas</strong>
      </h1>
    <strong class="mb-4" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif" style="color: white" > Paper Bill es un Software Contable de Facturación Electronica y POS. Empieza tu mes gratis</strong>   <br>

      <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg">
        SABER MÁS
      </a>
      <button class="btn btn-default btn-lg" [routerLink]="['/register']" routerLinkActive="router-link-active" >CREAR CUENTA GRATIS </button>
      <h6 class="mb-4">
        <strong style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"> ESTAMOS LISTOS PARA LA FACTURACIÓN ELECTRÓNICA</strong>
      </h6>
    </div>
  </div>
</div>
