<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form ">
					<span class="login100-form-title p-b-3">
					 <img src="./assets/images/archivo.png" width="400px" alt="" sizes="" srcset="">
					</span>
					<div class="wrap-input100 " >
						<input   placeholder="Email" [(ngModel)]="login.email" class="input100 " type="text" name="email">				
					</div>

					<div class="wrap-input100 validate-input">
						<input placeholder="Password" [(ngModel)]="login.password" class="input100" type="password" name="pass">	
					</div>

					<div class="container-login100-form-btn">
					<input  value="Enviar"  (click)="Login()"  class="login100-form-btn btn btn-default btn-lg">
					</div>

					<div>
						<div class="d-flex justify-content-center align-items-center">
						  <div class="text-center white-text mx-4 wow fadeIn">
							<button class="btn btn-default"><i class="fab fa-facebook-f pr-1"></i> Facebook</button> 
							<button class="btn btn-default "> <i class="fab fa-google-plus-g pr-1"></i> +Google</button> 
							 
						  </div>
						</div>
					</div>

					<div>
					</div>
					
				</div>
				<div class="login100-more" style="background-image: url('./assets/images/bg-01.jpg');">
				</div>
			</div>
		</div>
</div>

