<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form  (submit)="onSubmitLogin()"  class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input"  data-validate = "Valid email is required: ex@abc.xyz">
						<input   placeholder="Email" [(ngModel)]="email" class="input100" type="text" name="email">				
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input placeholder="Password" [(ngModel)]="password" class="input100" type="password" name="pass">	
					</div>

					
			

					<div class="container-login100-form-btn">
                    <input type="submit" value="Enviar"  class="login100-form-btn">
					</div>
					
					<div class="text-center p-t-46 p-b-20">
						
					</div>
				</form>

				<div class="login100-more" style="background-image: url('./assets/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>

