body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}

.navbar {
  margin-bottom: 0;
}

.nav_title {
  width: 230px;
  float: left;
  background: rgb(47, 165, 151);
  border-radius: 0;
  height: 57px;
  padding: 0px;
}

.site_title i {
  border: 1px solid #eaeaea;
  padding: 5px 6px;
  border-radius: 50%;
}

.main_menu_side {
  padding: 0;
}

.menu_section {
  margin-bottom: 35px;
}


.menu_section > ul {
  margin-top: 10px;
  display: block; }


  .sidebar-footer div.hidden-small a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: rgb(47, 165, 151); }

     .hidden-small {
      visibility: hidden; }

    .sidebar-footer a {
      padding: 7px 0 3px;
      text-align: center;
      width: 25%;
      font-size: 17px;
      display: block;
      float: left;
      background: #00b19d;
      color:white;
    }

    .sidebar-footer a:hover {
      background:white; }

.left_col {
  background:#00b19d;
}

/* COMIENZA LO REAL */
input#abrir-cerrar {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

label[for="abrir-cerrar"] {
  cursor: pointer;
  padding: 1rem;
  background-color: #00b19d;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.cerrar {
  display: none;
}

#sidebar {
  width: 0;
}

#contenido {
  margin-left: 0;
}

input#abrir-cerrar:checked ~ #sidebar {
  width: 300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"],
input#abrir-cerrar:checked ~ #contenido {
  transition: margin-left 0.4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
  display: inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
  display: none;
}

.menu li a {
  color: white;
  padding: 13px;
  display: inline-block;
  text-decoration: none;
  margin-left: 2px;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

.menu li {
  border-bottom: 1px solid rgba(14, 13, 13, 0.3);
  width: 300px;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00b19d;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing: border-box;
  margin-left: 0;
}

.sidebar .boton-cerrar {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  display: block;
  padding: 0;
  line-height: 1.5rem;
  margin: 0;
  height: 32px;
  width: 32px;
  text-align: justify;
}

.sidebar ul,
.sidebar li {
  margin: 0;
  padding: 0;
  list-style: none inside;
}

.sidebar ul {
  display: block;
  width: 80%;
  min-width: 200px;
}

.sidebar a {
  display: block;
  font-size: 120%;
  color: grey;
  text-decoration: none;
}

.sidebar a:hover {
  color: black;
  background-color: transparent;
}

h1 {
  color: black;
  font-size: 180%;
  font-weight: normal;
}

.abrir-cerrar {
  color: white;
  font-size: 1rem;
}
