.alert.flash-message{
    margin-top: 500px;
    margin-left: 1090px;
    position:absolute;
    width: 300px;
    height: 60px;
    z-index: 2;
    text-align: center;
    text-align-last: center;
   

   
}